.nav {
    grid-area: n;
    background-color:  indigo;
    padding: 20px
;
}

.item a{
    color: whitesmoke;
    text-decoration: none;
}

.item a.activeLink{   /*у класса есть дополнительное свойство*/
    color: gold;
}


.friendsBlock {
    margin-top: 70px;
    color:sandybrown;
    font-size: 20px;
}